/keystore.properties
/keystore.jks
/maven-key-no-armor.gpg
/maven-key-armor.gpg
/maven.properties
.DS_Store
*.iml
.gradle/
/local.properties
/.idea/
/build
/.venv/
/mkdocs/site/
/.kotlin/
/build-logic/.kotlin/errors/
/sample/config.properties
