/keystore.properties
/keystore.jks
/key.gpg
.DS_Store
*.iml
.gradle/
/local.properties
/.idea/
/build
/.venv/
/mkdocs/site/
/.kotlin/
/app/ios/build/
/build-logic/.kotlin/errors/
/app/ios/fastlane/report.xml
/app/ios/fastlane/Appfile
/build-logic/build/

