#common
localDatabaseFileName=tuucho.database
localDatastoreFileName=tuucho.datastore
serverTimeoutMillis=5000
serverVersion=v1
serverHealthEndpoint=health
serverResourceEndpoint=resource
serverSendEndpoint=send
#android
headerPlatformAndroid=android
serverBaseUrlAndroid=http://10.0.2.2:3000
#ios
headerPlatformIos=ios
serverBaseUrlIos=http://localhost:3000
