#common
localDatabaseFileName=tuucho.database
localDatastoreFileName=tuucho.datastore
imageDiskCacheSizeMo=150
imageDiskCacheDirectory=tuucho.cache_images
serverImageTimeoutMillis=10000
serverHttpTimeoutMillis=5000
serverVersion=v1
serverHealthEndpoint=health
serverResourceEndpoint=resource
serverSendEndpoint=send
serverImageEndpoint=image
#android
headerPlatformAndroid=android
serverBaseUrlAndroid=http://10.0.2.2:3000
#ios
headerPlatformIos=ios
serverBaseUrlIos=http://localhost:3000
