site_name: TUUCHO - ตู้โชว์
site_url: https://doc.tuucho.com/
repo_url: https://github.com/by-tezov/tuucho
theme:
  name: material
  logo: assets/tuucho-logo.svg
  custom_dir: overrides
  palette:
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to lite mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - content.code.copy
    - toc
    - search.highlight
    - versioning
    - admonition

extra_css:
  - stylesheets/overrides.css

plugins:
  - search
  - macros
  - mike
  - mermaid2
#  - redirects:
#      redirect_maps:
#        'old.md': 'new.md'
  - minify

extra:
  version:
    provider: mike

markdown_extensions:
  - admonition
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
  - pymdownx.tabbed
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.snippets
  - pymdownx.mark
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list


nav:
  - Home: index.md
  - Roadmap: roadmap.md
  - Quick start: quick-start.md
  - Config:
      - Overview: config/index.md
      - Subs: config/subs.md
      - Templates: config/templates.md
  - Object:
      - Overview: object-definition/index.md
      - Action: object-definition/action.md
      - Color: object-definition/color.md
      - Component: object-definition/component.md
      - Component-Setting: object-definition/component-setting.md
      - Content: object-definition/content.md
      - Dimension: object-definition/dimension.md
      - Form-Validator: object-definition/form-validator.md
      - Id: object-definition/id.md
      - Option: object-definition/option.md
      - Page-Setting: object-definition/page-setting.md
      - State: object-definition/state.md
      - Style: object-definition/style.md
      - Text: object-definition/text.md
  - Components:
      - Overview: components-definition/index.md
      - Button: components-definition/button.md
      - Form:
          - Overview: components-definition/form/index.md
          - Field: components-definition/form/field.md
      - Label: components-definition/label.md
      - LayoutLinear: components-definition/layout-linear.md
      - Spacer: components-definition/spacer.md
  - Navigation:
      - Overview: navigation/index.md
      - Transitions:
          - navigation/transition-fade.md
          - navigation/transition-slide.md
  - Page:
      - Overview: pages-definition/index.md
      - Example:
          - Page Home: pages-definition/page-home.md
          - Page Help: pages-definition/page-help.md
          - Page Confirmation: pages-definition/page-confirmation.md
  - Cache: cache.md
  - Dynamic Loading: shadower-contextual.md
  - Mobile Integration:
      - Overview: mobile-integration/index.md
      - Quick start: mobile-integration/quick-start.md
      - Dependencies Injection: mobile-integration/di.md
      - Configuration: mobile-integration/config.md
      - Interceptors: mobile-integration/interceptor.md
      - Monitors: mobile-integration/monitor.md
      - Middlewares: mobile-integration/middleware.md
      - Action Middleware: mobile-integration/action.md
      - Use cases: mobile-integration/usecases.md
  - Mobile Extension:
      - Overview: mobile-extension/index.md
  - ChangeLog: changelog.md
  - Contribute: contribute.md
  - Contact: contact.md
